<!DOCTYPE html>
<html>
<head>
    <title>EventeX</title>
    <meta charset="utf-8" />
    <link href="{{ STATIC_URL }}css/default.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <header>
        <hgroup>
            <h1><a href="{% url core:index %}">EventeX</a></h1>
            <h2>O evento mais sensacional do Rio depois do Dev in Rio!</h2>
            <h3><a href="{% url core:talks %}">Palestras</a></h3>
            <br />
        </hgroup>
    </header>
    <div class="view">{% block content %}{% endblock %}</div>
    <footer>
        <p>
            &copy; 2011. <a href="mailto:eventex@eventex.com.br">EventeX</a>, some rights reserved.
        </p>
    </footer>
</div>
</body>
</html>